body {
    background-color: #000;    
    margin: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    }
.neon-text {
    color: white;
    font-size: 5vw;
    font-family: neon;
    text-align: center;
    text-shadow: 0 0 10px #ff6ac1, 0 0 12px #ff6ac1, 0 0 14px #ff6ac1;
}
@font-face {
    font-family: neon;
    src: url(../font/Carry-You.ttf);
}
div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}